@font-face {
    font-family: 'nameFont';
    src: url('/src/cursiveNameFont.ttf')
}

@font-face {
    font-family: 'elegantUppercaseFont';
    src: url('/src/elegantUppercaseFont.ttf')
}

@font-face {
    font-family: 'typewriterFont';
    src: url('/src/typeWriterFont.ttf')
}

.cover-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./lace.jpeg);
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.877);
    font-family: nameFont;
    font-size: 50pt;
}

.phonetic {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.877);
    font-family: typewriterFont;
    font-size: 20pt;
    transform: translateY(-40px);
}

.below-name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.877);
    font-family: elegantUppercaseFont;
    font-size: 45pt;
    transform: translateY(-25px);
}

.email-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    color: rgba(255, 255, 255, 0.877);
    font-size: 12pt;
    transform: translateY(-90px);
}