@font-face {
    font-family: 'nameFont';
    src: url('/src/cursiveNameFont.ttf')
}

@font-face {
    font-family: 'elegantUppercaseFont';
    src: url('/src/elegantUppercaseFont.ttf')
}

@font-face {
    font-family: 'typewriterFont';
    src: url('/src/typeWriterFont.ttf')
}

.cover-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./lace.jpeg);
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FeF9F1;
    font-family: nameFont;
    font-size: 60pt;
}

.phonetic {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FeF9F1;
    font-family: typewriterFont;
    font-size: 20pt;
    transform: translateY(-50px);
}

.below-name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FeF9F1;;
    font-family: elegantUppercaseFont;
    font-size: 53pt;
    transform: translateY(-30px);
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    color: #FeF9F1;;
    font-size: 14pt;
    transform: translateY(-50px);
}

.work-experience {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #FeF9F1;
    color: #4D0011;
    font-family: nameFont;
    font-size: 45pt;
}

.work-experience .image-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    align-items: center;
}

.work-experience .image-row img:first-child {
    grid-column: 1;
    justify-self: start; 
}

.work-experience .image-row img:nth-child(2) {
    grid-column: 2;
    justify-self: center; 
}

.work-experience .image-row img:nth-child(3) {
    grid-column: 3;
    justify-self: end; 
}

.work-experience .image-row img:nth-child(4) {
    grid-column: 4;
    justify-self: end; 
}